<header id="header">
    <img src="/static/lab_new/graph/title.jpg" style="width:100%">
    <nav class="navbar-default" role="banner" style="height: 50px">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse pull-left" style="height: 50px;">
            <div class="menu" style="height: 50px;">
                <ul class="nav nav-tabs" >
                    <li><a href="#!/" class="active">GuoLab</a></li>
                    <li><a href="#!/research">Research</a></li>
                    <li><a href="#!/resource">Resource</a></li>
                    <li><a href="#!/publication">Publication</a></li>
                    <li><a href="#!/people">Member</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
