<!doctype html>
<html lang="en" ng-app="lab_new">
<head>
     <meta charset="utf-8">
     <title>An-Yuan Guo's Bioinformatics Laboratory</title>

     <link rel="icon" href="/static/lab_new/graph/lab_icon.png">

     <link rel="stylesheet" href="/static/lab_new/css/bootstrap.css">
     <link rel="stylesheet" href="/static/lab_new/css/navigation.css">
     <link rel="stylesheet" href="/static/lab_new/lib/bootstrap-grid-flexbox/css/bootstrap-grid-flexbox.css">
{#    <link rel="stylesheet" href="/static/lncRNASNP2_mouse/lib/angular-tablesort/tablesort.css">#}
{#    <link rel="stylesheet" href="/static/lncRNASNP2_mouse/lib/bootstrap-slider/css/bootstrap-slider.css">#}
{##}
{#    <link rel="stylesheet" href="/static/lncRNASNP2_mouse/lib/bootstrap-sorter/css/theme.bootstrap.min.css">#}
{##}
     <link rel="stylesheet" href="/static/lab_new/css/main.css">
{#    <link rel="stylesheet" href="/static/lncRNASNP2_mouse/lib/angular.treeview/css/angular.treeview.css">#}
     <script src="/static/lab_new/lib/jquery/jquery-3.1.1.js"></script>
     <script src="/static/lab_new/lib/jquery-ui/jquery-ui.js"></script>
     <script src="/static/lab_new/lib/svg3DwordCloud/svg3Dwordcloud.min.js"></script>
     <script src="/static/lab_new/lib/angular/angular.js"></script>
     <script src="/static/lab_new/lib/angular/angular-sanitize.js"></script>
     <script src="/static/lab_new/lib/angular/angular-route.js"></script>
     <script src="/static/lab_new/lib/angular/angular-resource.js"></script>
{#    <script src="/static/lncRNASNP2_mouse/lib/angular-pageslide-directive/angular-pageslide-directive.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/lib/angular-tablesort/angular-tablesort.js"></script>#}
{##}
{#    <script src="/static/lncRNASNP2_mouse/lib/angular-paging/paging.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/lib/angular.treeview/angular.treeview.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/lib/typehead/bootstrap-typeahead.js"></script>#}
{##}
{#    <script src="/static/lncRNASNP2_mouse/lib/echarts/echarts.min.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/lib/echarts/ng-echarts.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/lib/echarts/dataTool.min.js"></script>#}
{##}
      <script src="/static/lab_new/js/app.js"></script>
{#    <script src="/static/lncRNASNP2_mouse/js/home.controller.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/document.controller.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/download.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/contact.controller.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/snp.controller.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/snp_detail.js"></script>#}
{##}
{#    <script src="/static/lncRNASNP2_mouse/js/lncrna.controller.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/echarts.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/lncrna_detail.controller.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/mirna.controller.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/mirna_detail.controller.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/search.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/searchPage.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/test.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/js/match_page.js"></script>#}
      <script src="/static/lab_new/lib/bootstrap/bootstrap.js"></script>
      <script src="/static/lab_new/lib/ui-bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>
    <script src="/static/lab_new/js/home.controller.js"></script>
{#    <script src="/static/lncRNASNP2_mouse/lib/bootstrap-slider/bootstrap-slider.js"></script>#}
{#    <script src="/static/lncRNASNP2_mouse/lib/bootstrap-slider/angular-bootstrap-slider.js"></script>#}

</head>
<body>

<div ng-include="'/static/lab_new/partials/navigation.html'"></div>

<div>
    <div ng-view></div>
</div>

<div ng-include="'/static/lab_new/partials/footer.html'"></div>


</body>
</html>
