.navbar-default {
    background-color: #3F96C3;
    border-color: #94A0B6;
}

.navbar-default .navbar-brand {
    color: #E0E0F8;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FCC689;
}

.navbar-default .navbar-text {
    color: #E0E0F8;
}

.navbar-default .navbar-nav > li > a {
    color: #E0E0F8;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FCC689;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FCC689;
    background-color: #94A0B6;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FCC689;
    background-color: #94A0B6;
}

.navbar-default .navbar-toggle {
    border-color: #94A0B6;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #94A0B6;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #E0E0F8;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #E0E0F8;
}

.navbar-default .navbar-link {
    color: #E0E0F8;
}

.navbar-default .navbar-link:hover {
    color: #FCC689;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #E0E0F8;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FCC689;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #FCC689;
        background-color: #94A0B6;
    }
}
